
/* Comment */
.comment-wrapper {
    width: 400px;
    border: 1px solid rgba(0,0,0,0.1);
    padding-top: 6px;
  }
  .comment-user-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
  }
  
  .comment-user-profile img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid rgba(0,0,0,0.2);
    margin-right: 16px;
  }
  
  .comment-user-profile p:first-of-type {
    font-size: 1.4em;
  }
  
  .comment-content {
    padding: 6px;
    background-color: #F7F7F9;
  }
  
  .comment-date {
    background-color: #F7F7F9;
    text-align: right;
    padding-right: 6px;
    font-size: 0.9em;
  }
  
  .new-comment-wrapper textarea {
    resize: none;
  }
  
  .new-comment-wrapper button {
    margin-top: 12px;
    margin-left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  
  .comment-container .row {
    margin-bottom: 6px;
  }
  
  .comment-container .new-comment-wrapper {
    margin-top: 16px;
  }
  