


.text-primary {
  color: #000000;	
}


/* tag lead */

lead {
    font-family: Arial, Helvetica, sans-serif ;
}


/* bouton */
btn {
    font-size: 10px; font-family: Arial, Helvetica, sans-serif ;
}
btn-lg {
    border-radius: 8px; font-size: 10px; font-family: Arial, Helvetica, sans-serif ;
}
btn-sm {
    border-radius: 8px; font-size: 10px; font-family: Arial, Helvetica, sans-serif ;
}

btn-lg {
    border-radius: 8px; font-size: 10px; font-family: Arial, Helvetica, sans-serif ;
}

/* les liens    */

/* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

